* {
    box-sizing: border-box;
}

body {
    background-color: #d5b78b;
    color: #333333;
    font-family: 'Courier New', Courier, monospace;
    width: 
}

h1,
h2,
h3,
h4,
h5,
h6 {
    background-color: white;
    border: solid black 2px;
    color: black;
}

p,
ul,
ol {
    width: 72ch;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 20rem;
}